@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Borys Stefański<br />
    University of Gdańsk
</address>

<address>
    <strong>Borys:</strong>   <a href="mailto:borys.stefanski@gmail.com">borys.stefanski@gmail.com</a><br />
    
</address>