@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WorkoutDiary <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> </h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RUNNERS</h2>
        
        <p><a class="btn btn-default" href="https://localhost:44302/Runners/Create">Add new! &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44302/Runners/">Show All &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WORKOUTS</h2>
        <p><a class="btn btn-default" href="https://localhost:44302/Workouts/Create">Add new! &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44302/Workouts/">Show All &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RUNNING SHOES</h2>
        <p><a class="btn btn-default" href="https://localhost:44302/Shoes/Create">Add new! &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44302/Shoes/">Show All &raquo;</a></p>
    </div>
</div>